<!-- base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock title %}</title>

    <!-- Carregando os arquivos estáticos -->
    {% load static %}
    
    <!-- Link do arquivo CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Caruaru Saúde</h1>
        <!-- Menu de navegação ou logo -->
    </header>

    <!-- Aqui será o conteúdo dinâmico das páginas -->
    <div class="content">
        {% block conteudo %}
        <!-- Conteúdo da página será inserido aqui -->
        {% endblock conteudo %}
    </div>

    <!-- Link do arquivo JavaScript -->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>
